h1 {
    color: slategray;
    text-align: center;
}

.sky-blue {
    display: flex;
    background: skyblue;
    height: 300px;
    padding: 30px;
    margin: 30px;
    width: 800px;
    text-align: center;
}

.pink {
    display: flex;
    background: pink;
    height: 300px;
    padding: 50px;
    margin: 30px;
    width: 800px;
    text-align: center;
}

.white {
    display: flex;
    color: white;
    height: 300px;
    padding: 30px;
    margin: 30px;
    text-align: center;
    width: 800px;
}